@use '../abstract/' as a;

#welcome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-heading {
  font-style: italic;
  font-size: 3em;
  width: 75%;
}

.welcome-paragraph {
  width: 75%;
  font-size: 2em;
  margin: 2em 0;

  & span {
    font-size: 1em;
  }
}

.highlight {
  color: a.$clr-secondary;
}