@use '../abstract/' as a;

.project {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin-top: .5em;
  border-radius: 2px;
  &:hover {
    background-color: a.$clr-secondary;
    & .project-title {
      color: a.$clr-background;
    }
  }
  @include a.mq-481 {
    grid-template-columns: 1fr 1fr;
  }
  @include a.mq-961 {
    grid-template-columns: 1fr 1fr 2fr;
  }
  &.active-project {
    border-radius: 2px 2px 0 0;
    & .project-title {
      color: a.$clr-background;
    }
    background-color: a.$clr-secondary;
  }
}

.project-caret-icon {
  height: 1em;
  position: absolute;
  top: 50%;
  right: .5em;
  transform: scale(1) translateY(-50%);
  transition: transform .25s ease-in-out;


  &.up {
    transform: scale(-1) translateY(50%);
    transition: transform .25s ease-in-out;
  }
}

/* ----------- Cells -----------*/
.project-title {
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  padding: 0 .5ch;
}

.project-techs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1ch;
  @include a.mq-481 {
    padding: 0;
  }

}

.project-themes {
  display: none;
  @include a.mq-961 {
    display: flex;
    align-items: center;
  }
}

.project-details {
  @include a.mq-481 {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  padding: 1em 1em;
  max-height: 0;
  opacity: 0;
  border-radius: 0 0 2px 2px;
  animation: Expand .5s ease-in-out forwards;
  background-color: a.$clr-backgroundlight;
  border-bottom: 2px solid a.$clr-secondary;
}

.shrink {
  animation: Shrink .5s ease-in-out forwards;
}

.project-details-goal {
  @include a.mq-481 {
    padding-right: 1ch;
  }
}

.project-goal-description {

  & a {
    color: a.$clr-secondary;
  }
}

.project-details-links {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  @include a.mq-481 {
    padding-left: 1ch;
    border-left: 2px solid a.$clr-secondary;
  }
  
}

.project-details-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: a.$clr-secondary;
  }
  & img {
    height: 1em;
    margin-right: .5em;
  }
}


@keyframes Expand {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}
