@use '../abstract/' as a;

.theme {
  background-color: a.$clr-backgroundlight;
}

.tag {
  font-size: .80em;
  font-weight: 700;
  border-radius: 2px;
  padding: 2px 5px;
  margin: 1ch 1ch 1ch 0;
}

.html {
  background-color: #d25836;
}

.css {
  background-color: #246baa;
}

.javascript {
  background-color: #f7df1e;
  color: black;
}

.sass {
  background-color: #cd669a;
}

.react {
  background-color: #61dafb;
  color: black;
}

.typescript {
  background-color: #3178c6;
}

.redux {
  background-color: #764abc;
}

.git {
  background-color: #f43425;
}

.jest {
  background-color: #99425b;
}

.node {
  background-color: #549e45;
}

.recharts, .lighthouse, .selectolax, .asyncio, .beautifulsoup, .pyo3, .maturin {
  background-color: #65717a;
}


.python {
  background: linear-gradient(-75deg, #ffd43b 50%, #3178c6 50%);
  color: black;
}

.flask {
  background-color: #48a4be;
}

.rust {
  background-color: #c0411a;
  color: black;
}