@use '../abstract/' as a;

body {
  background-color: a.$clr-background;
  color: white;
}

.main-section {
  padding: 35px 1em 0 1em;
  position: relative;
    &::before {
    top: 0;
    left: 15%;
    right: 15%;
    content:'';
    position: absolute;
    border-top: 2px solid a.$clr-backgroundlight;
  }
}