@use '../abstract/' as a;

footer {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background-color: a.$clr-backgroundlight;

  & a {
    display: flex;
    align-items: center;
    margin: 0 .15em;
    &:hover {
      color: a.$clr-secondary;
    }
    & img {
      height: 1em;
      margin-right: 1ch;
    }
  }
}